// ==============================MARKETING===============================
.marketing {
  &__subject {
    margin-top: 120px;
    margin-right: 85px;
    margin-left: 67px;
  }
  &__heading {
    @extend %heading-style;
    @include textStyle(25px, 35px,#ffffff);
    font-variant: small-caps;
  }
  &__start {
    @include flexStyle(center, center);
    margin-left: 80px;
  }
  &__dash {
    margin-right: 10px;
    margin-left: 10px;
    width: 200px;
    border-top: 4px dashed #ffffffbf;
  }
  &__button-div {
    @include flexStyle(center, start);
  }
  &__button{
    width: 142px;
    height: 27px;
    background: linear-gradient(180deg, #864A23 0%, #6A3A1B 100%);
    border-radius: 20px;
    margin-left: 7px;
    @include flexStyle(center, space-between);
  }
  &__message-img {
    margin-left: 10px;
  }
}
.merketing-start {
  @extend %heading-style;
  @include textStyle(14px, 149%,#ffffff);
  @include flexStyle(center, start);
}
.pen-img {
  margin-left: 16px;
}
.marketing-span {
  @include textStyle(14px, 149%,#ffffff);
  margin-left: 7px;
}